<div class='container' >Choose from a category:

<p><% @category_names.each do |category| %></p>

<a href="/category/<%= category.name %>/<%= category.id %>"><%= category.name %></a>

<% end %>
</div>