<p>Create a Post:</p>

<form name="input" action="/create/" method="post">
Title: <input type="text" name="title"></br>
Content: <input type="text" name="content">

<input type="submit" value="Submit">
</form>